h5{
    font-size: 40px;
    color: #da8695;
    margin-top: 10px;

}
.form-group {
  margin: auto ;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  color:black;   
}
  .form2{
    margin: auto ;
    margin-top:40px;
    background-color: #fbb034;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    min-height: 523px;
    max-height:430px;
    width: fit-content;
    text-align: center;
    border-radius: 30px; 
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative ;
  overflow: hidden;
  width: 260px ;
    }
    .flex-container2 {
      color:black;   
  
    
      flex-direction: column;
      align-items: center;
      border-radius: 7px;
      position: relative;
      display:inline-flexbox;
      box-shadow: 0 0 2px rgba(15, 15 , 15 0.28);
      overflow-wrap: break-word;
      padding: 20px 40px 0 40px;
      margin: 5px 5px 50px -85px;
      overflow-x: auto;
    }
  
  li{
    width: auto;
    word-wrap: break-word;
    color:black;   

  
  }
  @media (max-width: 400px) {
   
    .flex-container2{
  
      }
  }
  
  