

header {
    overflow: hidden;
    top: 5px;
    width: 100%;
}
    h1{
    font-size: 3.0rem;
    padding: 90px;
    font-weight: lighter;
    color: #da8695;
    }

    h2{
      font-size:18px;
      margin-top: 20px;
      color: #da8695;
      font-weight: heavy;

    }
    li {
      color:whitesmoke;
      text-decoration: none;
      margin: 15px 0;
      width: 100%;
      padding-right: .9rem;
      text-decoration: none;
    }
    ul {
    text-transform: uppercase;
    font-size: 15px ;
    letter-spacing: .1rem;
    background-position: top left;
    background-repeat: repeat;
    cursor: pointer;
      margin-top: 10px;
     float:right;
     color:white;
     font-weight: 700;   
}
nav  {
    font-size: 20px;
    color: coral;
    font-size: 2px ;
    letter-spacing: .5rem;
    background-color: #010100 !important;

    background-position: top left;
    background-repeat: repeat;
    opacity: 0.85;
    width: fit-content;
} 


      div{
      word-wrap: break-word;

    }
  .button-link{
      color:#fff;
      padding: 25px;
      width: 105px;
      margin:10px;
      background-color:#738;

      border-radius:10px;
      display:inline-table;
    }

    @media(min-width:400px) {
      h2{
        margin-top: 50px;
    }
  }

 

 
  
  