

header {
    overflow: hidden;
    top: 5px;
    width: 100%;
}
    h1{
    font-size: 3.0rem;
    padding: 50px;
    font-weight: lighter;
    color: black;
    src:url("https://images.nycgo.com/image/fetch/q_65,c_fill,f_auto,w_750/https://www.nycgo.com/images/venues/2311/rc_image_view.jpg")
    }

    h2{
      font-size:18px;
      margin-top: 60px;
      font-weight: lighter;

    }

    li {
      text-decoration: none;
      margin: 15px 0;
      width: 100%;
      padding-right: .9rem;
      background-color: black;

  }
  ul {
    text-transform: uppercase;
    font-size: 15px ;
    letter-spacing: .1rem;
    background-position: top left;
    background-repeat: repeat;
    cursor: pointer;
      margin-top: 10px;
     float:right;
     font-weight: 700;   
     background-color: black;

}
nav  {
    font-size: 20px;
    color: coral;
    width: fit-content;
    font-size: 2px ;
    background-position: top left;
    background-color: black;
} 
      div{
      word-wrap: break-word;

    }
  .button-link{
      color:#fff;
      padding: 25px;
      width: 105px;
      margin:10px;
      border-radius:10px;
      background-color:#738;
      display:inline-table;
    }

    
 
li {
  color:whitesmoke;
  text-decoration: none;
  margin: 15px 0;
  width: 100%;
  padding-right: .9rem;

}
ul {
text-transform: uppercase;
font-size: 15px ;
letter-spacing: .1rem;
background-position: top left;
background-repeat: repeat;
cursor: pointer;
  margin-top: 10px;
 float:right;
 color:white;
 font-weight: 700;   
}
nav  {
color: white;
font-size: 20px;
color: coral;
width: 100%;
font-size: 2px ;
background-position: top left;
background-repeat: repeat;
background-color: black;
} 

 
  
  